<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    
   
    <title>Guitara</title>
</head>
<body>
  <div class="page-wrapper">
    <div class="nav-wrapper">
     <div class="grad-bar"></div>
     <nav class="navbar">
      <h3 class="head"><a href="/">Guitara</a></h3>
       <div class="menu-toggle" id="mobile-menu">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
       </div>
       <ul class="nav no-search">
         <li class="nav-item x"><a href="/exercises">Excercises</a></li>
         <li class="nav-item y"><a href="/community">Community</a></li>
         <li class="nav-item z"><a href="/tools">Tools</a></li>
         <li class="nav-item u"><a href="/signup">Sign Up</a></li>
         <li class="nav-item v"><a href="/login">Login</a></li>
         
         <i class="fas fa-search w" id="search-icon"></i>
         <input class="search-input" type="text" placeholder="Search..">
       </ul>
     </nav>
     </div>
   </div>
   <script src="https://kit.fontawesome.com/7d9af907b1.js" crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
   <script src="/javscript/script.js"></script>

  