<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    
   
    <title>Guitara</title>
</head>
<body>
  <div class="page-wrapper">
    <div class="nav-wrapper">
     <div class="grad-bar"></div>
     <nav class="navbar">
       <h3>Guitara</h3>
       <div class="menu-toggle" id="mobile-menu">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
       </div>
       <ul class="nav no-search">
         <li class="nav-item y"><a href="/">Home</a></li>
         <li class="nav-item x"><a href="/exercises">Excercises</a></li>
         <li class="nav-item"><a href="/metronome">Metronome</a></li>
         <li class="nav-item z"><a href="/tuner">Tuner</a></li>
         <li class="nav-item"><a href="/about">About Us</a></li>
         <i class="fas fa-search" id="search-icon"></i>
         <input class="search-input" type="text" placeholder="Search..">
       </ul>
     </nav>
     </div>
     <section class="headline">
       <button class="btn">Get Started !</button>
       <p>Learn and interact all about GUITAR !!!</p>
     </section>
   </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="/javscript/script.js"></script>
</body>
</html>