<%- include("header") %>

<div class="headline">
    <button class="btn"><a href="/exercises">Get Started !</a></button>
    <p>Learn and interact all about GUITAR !!!</p>
</div>

  <div class="contains">
    <ul class="nsul">
        <li class="ns"><a href="/exercises/notes"><i class="fa-solid fa-music back"></i>  Notes</a></li>
        <li class="ns"><a href="/exercises/chords"><i class="fa-solid fa-microphone-lines"></i> Chords</a></li>
        <li class="ns"><a href="/exercises/scales"><i class="fa-solid fa-guitar"></i> Scales</a></li>
    </ul>
</div>

<div class="row ima">
    <div class="part1">
        <img src="/images/guitar6.jpg" alt="">
    </div>
    <div class="part2">
        <div class="cont">
            <h1>Fun and Effective</h1>
            <p>
                Guitara lets you improve your musical skills in a fun and challenging way by adding game elements to the learning process. Learning is easier and more effective when you're having fun. Create a free account to access all content and remove ads.
            </p>
            <a href="/signin"><button class="btns">Create Account</button></a>
        </div>
    </div>    
</div>
<div class="row">

</div>
