<%- include("header") %>

<div class="headline">
    <button class="btn"><a href="/exercises">Get Started !</a></button>
    <p>Learn and interact all about GUITAR !!!</p>
</div>

  <div class="contains">
    <ul class="nsul">
        <li class="ns"><a href="/"><i class="fa-solid fa-music back"></i>  Notes</a></li>
        <li class="ns"><a href="/">Chords</a></li>
        <li class="ns"><a href="/metronome">Scales</a></li>
    </ul>
</div>